cmake==3.26.3
contourpy==1.0.7
cycler==0.11.0
filelock==3.12.0
fonttools==4.39.3
jinja2==3.1.2
kiwisolver==1.4.4
lit==16.0.3
llvmlite==0.40.0
markupsafe==2.1.2
matplotlib==3.7.1
mpmath==1.3.0
numba==0.57.0
numpy==1.24.3
pillow==9.5.0
pyparsing==3.0.9
python-dateutil==2.8.2
setuptools==67.7.2
six==1.16.0
sympy==1.11.1
torch==2.0.0
triton==2.0.0
typing-extensions==4.5.0
wheel==0.40.0
